<div>
  
<form action="/form" method="post">
  <input type="text" name="username" placeholder="Your name">
  <input type="email" name="useremail" placeholder="Your email">
  <input type="text" name="image" placeholder="Your profile image">
  <button type="submit" name="button">Add new User</button>
</form>

</div>
